@using PersonalWebApplication.Models
@{
    ViewData["Title"] = "About";
}
<h1> @ViewData["Title"]</h1>
<h3>
    My name is Rabbi
</h3>
<p>
    I'm a dreamer. I'm a believer and I'm a doer. I am well known for my presentation skill. I can speak very well in Bengali and English. Another quality of me that I feel proud of is-I'm a quick learner and self motivated person. I love to play with problems, challenges and expect to make a positive contribution in position.
</p>
