@using PersonalWebApplication.Models 
@{
    ViewData["Title"] = "";
}
<h1> @ViewData["Title"]</h1>
<div class="text-left">
    <img src="~/image/im.jpg" asp-append-version="true">
</div>
<p class="clearfix">
    <h2>Career Objective</h2>
<p>
        I am very passionate about computer and programming since my university life. I dream to be an expert software engineer so that I can build professional and useful software that has business value. I am looking for a senior software engineer position in a reputed software company that can help me to achieve my goal.
    </p>
    <h2>Education</h2>
    <ul>
        <li>
            <strong>BS.c</strong> in <strong>Computer Science & Engineering</strong> from the <strong>Daffodil International University</strong>, Dhaka, Bangladesh
        </li>
        <li><strong>Cumulative GPA</strong>: N/A(9th semester)</li>
        <li><strong>Passing Year</strong>: 2020</li>
    </ul>
    <h2>Examples of My Work</h2>
    <ul>
        <li>
            <a href="https://github.com/rabbycse" target="_blank">GitHub</a> -
            Contains code for this site and some open source projects.
        </li>
    </ul>
    <h2>Programming Skills</h2>
    <ul>
        <li>
            Languages: <strong>C#</strong> (since 2019), <strong>ASP.NET Core</strong> including MVC (since 2019),
            <strong>java</strong> (since 2017), <strong>Javascript</strong> (since 2018), <strong>Oracle</strong> (since 2019), <strong>SQL</strong> (since 2019 on MS SQL Server),
            <strong>client side JavaScript</strong> (since 2019), <strong>Objective C</strong> (limited).
        </li>
        <li>Experience leading teams on large programming projects in all phases including initial design, implementation and testing, deployment, and operations.</li>
        <li>Strong understanding of <strong>Object Oriented Programming</strong> with an emphasis on <strong>Domain Driven Design</strong> and patterns.</li>
        <li>Practice <strong>Test Driven Development</strong> with NUnit, JUnit, Mocha, SpecFlow (Gherkin), RhinoMocks.</li>
        <li>Design <strong>automated build and deployment</strong> to keep system deployment reliable and reproducible.</li>
        <li>Familiar with <strong>Service Oriented Architecture</strong> including SOAP, REST, and <strong>event driven architecture</strong> with message queueing via <strong>RabbitMQ</strong>.</li>
        <li>Familiar with the principles of <strong>microservices</strong> and <strong>hexagonal architecture</strong> to keep large systems as flexible and maintainable as possible.</li>
        <li>Experience creating <strong>single page apps</strong> using <strong>AJAX</strong> to create dynamic web interfaces.</li>
        <li>Experience using <strong>Git, Mercurial, and Subversion</strong>, including the GitFlow branching pattern.</li>
    </ul>
    <h2>Values</h2>
    <ul>
        <li>Personal Responsibility</li>
        <li>Continuous Learning</li>
        <li>Follow-through</li>
        <li>Creativity/Freedom To Try New Things</li>
    </ul>

